/* Basic styling for the page */
#normal, #myopia, #hyperopia, #aberration, #astigmatic {
    display: none;
}

/* Category items */
.category-item {
    font-size: 25px;
    color: #ffffff; /* Teal is professional and inviting */
    text-align: left;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 10px;
    position: sticky;
    top: 10px;
    font-weight: 500; /* A more neutral weight to make it not too dominant */
    cursor: pointer; /* Pointer to indicate it's interactive */
}

.category-item:hover {
    color: #122287; /* Slightly change the color on hover to make it interactive */
}

/* Header Styles */
body {
    margin: 0;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f4f4f9;
    color: #333;
}

/* Other existing styles */
...
